# Secrets
.env
.env.*
!.env.example

# Files that should not be uploaded to GitHub:
node_modules/
dist/
*.log
logs/
.DS_Store
.vscode/
.idea
*.swp
*.suo
*.tmp
.nyc_output
coverage/
.cache/
.parcel-cache/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.eslintcache
.stylelintcache
*.tsbuildinfo
.npm
.yarn-integrity
*.tgz
jspm_packages/
web_modules/
bower_components/
lib-cov/
pids
*.pid
*.seed
*.pid.lock
.lock-wscript
build/Release
.next
.nuxt
.out
.storybook-out
tmp/
temp/
*.local
dist-ssr/
*.njsproj
*.sln
*.sw?
*.ntvs*